/* POPUP STYLES */
#wheel-popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#wheel-popup {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    position: relative;
}

#wheelCanvas {
    border: 6px solid #444;
    border-radius: 50%;
}

#spinBtn {
    margin-top: 20px;
    padding: 15px 35px;
    font-size: 18px;
    cursor: pointer;
    background: #ff8c00;
    color: #fff;
    border-radius: 10px;
    border: none;
}

#wheel-result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#wheel-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}
